<div class="container">
  <% unless @book.nil? %>
    <% if @book.errors.any? %>
      <h3 class="pt-3"><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>

  <div class="row">
          <!--左側-->
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
    </div>

      <!--右側-->
    <div class="col-md-8 offset-md-1">
      <%= render 'list', books: @books %>
    </div>
  </div>
</div>